@import "~styles/constants";
.container {
  list-style: none;
  display: flex;

  li {
    margin: 0 20px;
    a {
      color: $color4;
      font-size: 20px;
      &.Facebook:hover {
        color: #3b5998;
      }
      &.LinkedIn:hover {
        color: #007bb6;
      }
      &.Tweeter:hover {
        color: #00b6f1;
      }
      &.YouTube:hover {
        color: #ff0000;
      }
      &.Instagram:hover {
        color: #c32aa3;
      }
      &.GooglePlus:hover {
        color: #df4a32;
      }
      &.Skype:hover {
        color: #00aff0;
      }
    }
  }
}
